extends layout

block content
  //Modal Delete Dialog
  #del_form.modal.fade(role="dialog", tabindex="-1", aria-labelledby="myModalLabel")
    .modal-header
      h3 Delete form confirmation
    .modal-body Are you sure you want to delete #{doc[0].title} form?
    .modal-footer
      #del_final.btn.btn-primary Yes
      .btn.btn-danger(data-target="#del_form", data-dismiss="modal") No
  .row
    .span12
      h1 #{doc[0].title} 
      u.text-info 
        //#detail.showmenu more details 
          i.icon-chevron-right
  ///#detail.menu
  .row
    .row-fixed
      em
        .span3 Institution:
        .span3 Location:
        .span3 Reason/Diagnosis:
        .span3 Pediatric:

    .row-fixed.text-warning
      b
        .span3 #{doc[0].place}
        .span3 #{doc[0].city}, BC
        .span3 #{doc[0].reason}
        .span3
          if doc[0].is_pediatric
            |Yes
          else No
  .row &nbsp;
  .row-fixed 
    .btn-group
      a.btn.btn-primary.print(href="/static/#{doc[0].filename}.pdf") 
        i.icon-print.icon-large
        |  Print
      button.btn.btn-danger(data-target="#del_form", data-toggle="modal")
        i.icon-remove.icon-large
        |   Delete

      //b#modify.btn.btn-success.showmenu
        i.icon-wrench.icon-large
        |   Modify &nbsp;&nbsp;&nbsp;
        i.icon-chevron-right

  form#modify.menu(method="post", action="/api/update")
    legend Modify Form
    .control-group
      label.control-label(for='title') Current Title: 
        b
          | #{doc[0].title}
      .controls
        .input-prepend  
          span.add-on New Title
          input#change_name.input-xlarge(form.filename='change_name', placeholder='placeholder', type='text') 
            |#{doc[0].title}
            p.help Leave empty if you don't want to change
    .control-group
      label Currently
        b 
          if doc[0].is_pediatric
           is Pediatric (Yes)
          else if !doc[0].pediatric
           is not Pediatric (No)
      label.control-label(for='is_ped') Is it still Pediatric?
      .controls/
        if doc[0].is_pediatric
          label.radio(for='is_ped-0')
            input#is_ped-0(type='radio', name='is_ped', value='Yes', checked='checked')
            | Yes
          label.radio(for='is_ped-1')
            input#is_ped-1(type='radio', name='is_ped', value='No')
            | No
        else if !doc[0].pediatric
          label.radio(for='is_ped-0')
            input#is_ped-0(type='radio', name='is_ped', value='Yes')
            | Yes
          label.radio(for='is_ped-1')
            input#is_ped-1(type='radio', name='is_ped', value='No', checked='checked')
            | No

    .control-group
      label Current institution: 
        b #{doc[0].place}
      label.control-label(for='inst') Choose a new institution
      .controls
        select#change_inst.input-xlarge(name='change_inst')
          for place in places
            if place.name == doc.place
              option(value=place.id, selected)!=place.name
            else
              option(value=place.id)!=place.name

    .control-group
      label Current reason: 
        b #{doc[0].reason}
      label.control-label(for='reason') Choose a new reason
      .controls
        select#change_inst.input-xlarge(name='change_inst')
          for reason in reasons
            if reason.name == doc.reason
              option(value=reason.id, selected)!=reason.name
            else
              option(value=reason.id)!=reason.name

    .control-group
      label.control-label(for='singlebutton')
      .controls
        button#singlebutton.btn.btn-primary(type ='submit', name='singlebutton') 
          | Save Changes  
  .row-fluid#pdf
    object(data="/static/#{doc[0].filename}.pdf", type='application/pdf', width='100%', height='100%')
      p
          | It appears you don't have a PDF plugin for this browser.
          | No biggie... you can
          a(href="/static/#{doc[0].filename}.pdf")
            | click here to
            | download the PDF file

  :coffeescript
    #Modal Dialog Delete event handler
    $("#del_final").click ->
      id = location.pathname.replace("/view/","")
      $.get '/api/delete/form/'+ id
      alert 'deleted'
      window.location = '/'
